<% otherUsers.forEach((otherUser) => { %>
  <%= otherUser.name %>
  <form action="/user/<%= user._id %>/like?userId=<%= otherUser._id %>" method="POST">
    <button type="submit">Like</button>
  </form>
<% }) %>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Logout</button>
</form>
