<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dating App</title>
  </head>
  
  <body>
    <div class="page-container">
      <%- body %>
    </div>
    <footer>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/matches">Logout</a></li>
          <li><a href="/account">Account</a></li>
        </ul>
      </nav>
    </footer>
    <% if (development.enabled) { %>
    <script>
      const form = document.querySelector("form[action='/login']")
      if (form) {
        form.querySelector("input[name='email']").value = "<%= development.email %>"
        form.querySelector("input[name='password']").value = "<%= development.password %>"
        form.submit()
      }
    </script>
    <% } %>
  </body>
</html>