<h2>Register an account</h2>

<% if (messages.errors) { %>
  <ul class="error-list">
    <% messages.errors.forEach(error => { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>
<form action="/register" method="POST">
  <div>
    <label for="name">First name</label>
  <input type="text" id="name" name="name" required value="<% if (messages.nameInputValue) { %><%= nameInputValue %><% } %>"/>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>

  <div>
    <label for="password2">Repeat Password</label>
    <input
      type="password"
      id="password2"
      name="password2"
      required
      value="123"
    />
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
